body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    height: 100vh;
    background-color: rgb(243, 220, 250);
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
}

.rowDiv {
    display: flex;
    background-color: green;
    width: 100%;
}

.colDiv {
    display: flex;
    border-style: solid;
    border-width: 0.1rem;
    background-color: rgb(92, 123, 224);
    width: 100%;
}

#gameButtonDiv {
    display: flex;
    justify-content: center;
    width: 100%;
}

#gameButton {
    align-items: center;
    background-color: #eb9a20;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

#gameButton:hover,
#gameButton:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

#gameButton:hover {
  transform: translateY(-1px);
}

#gameButton:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}