body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 720px;
    width: 720px;
}

.rowDiv {
    display: flex;
    border-style: solid;
    border-width: 1px;
    background-color: green;
    height: 6.25%;
    width: 100%;
}